extends ./layout.pug

block body

  div.product-list.container
    for product in products
      div.product-list-item
        a(href=ctx.linkResolver(product))
          - var imageURL = product.data.image.Listing.url
          - var price = product.data.price
          
          img.product-list-image(src=imageURL)
          h3.product-list-title
            != PrismicDOM.RichText.asText(product.data.title)
          p.product-list-price
            != price ? "$" + price : ''
  div Welcome to California Beach signs, where the beach signs meet the house, and the relaxation is free.
	These are quality natural beach signs, for the house, cottage, decoration or just a relaxing redesign.   Where a beach is, so also is inspiration, which makes these finds easy. With cool blues, white's, smooth finishes of rustic wood, clean metal, and some ceramic.
    Personalized beach house signs are a popular style, family names, hometowns, personalization helps to remind us we are home.  
   A large selection of high quality signs, from simple accents, to full interior design, you will find small or large, island or nautical, tropical, sandy, summer, cottage, outdoor.  Shapes from anchors, arrows, plaques, rectangle, square, many to choose from.
   All signs shipped from sunny California, hand wrapped, personally and gift giving options including personal notes, also themed gift wrap options coming soon.
What to look for in a beach house sign?
   Aside from a simple, no qualm shopping experience, high quality product, and high speed delivery, what we look for, is designs that accent personal experience, and lives.
   Without being wasteful in the environment, footing profit over product quality, or any of the negatives that we can experience in the highly saturated interior decorating marketplace.
 We look, in a vintage beach sign, beach wall decor, infested, market, and we find the best, top products are already featured here, and as this business expands, it will offer more pleasing designs, and bring the beach decor tradition to a better state of delivery, though it is a custom of culture, which is supported by a large community, alive and well, it definitely can use a better feature to strangers like you and me who are a-custom to using technology.
